---
- name: Setup local environment
  hosts: local
  become: yes


  tasks:
    - name: Update packages
      apt:
         update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present
