---
- name: Ensure argocd namespace exists
  command: microk8s kubectl apply -f -
  args:
    stdin: |
      apiVersion: v1
      kind: Namespace
      metadata:
        name: argocd
  become: yes

- name: Add Argo Helm repository
  command: microk8s helm3 repo add argo https://argoproj.github.io/argo-helm
  ignore_errors: yes
  become: yes

- name: Update Helm repositories
  command: microk8s helm3 repo update
  become: yes

- name: Install or upgrade ArgoCD via Helm
  command: >
    microk8s helm3 upgrade --install argocd-core argo/argo-cd
    --namespace argocd
    --create-namespace
  become: yes

- name: Wait for ArgoCD core server rollout
  command: >
    microk8s kubectl rollout status deployment/argocd-core-server
    -n argocd --timeout=300s
  become: yes